@model IEnumerable<Icarus_Item_Calculator.Models.Item>

@{
    ViewData["Title"] = "Items List";
    var sortOrder = ViewData["CurrentSort"] as string;
    var nameSortParam = sortOrder == "Name" ? "name_desc" : "Name";
    var idSortParam = sortOrder == "Id" ? "id_desc" : "Id";
}

<h1>Items List</h1>

@if (User.Identity.IsAuthenticated)
{
    <div class="mb-3">
        <a asp-action="Create" class="btn btn-primary">Create New Item</a>
    </div>
}


<form method="get" asp-action="Index">
    <div class="form-group">
        <input type="text" name="searchString" class="form-control" placeholder="Search items..." value="@ViewData["CurrentFilter"]" />
        <button type="submit" class="btn btn-primary mt-2">Search</button>
    </div>
</form>

<table class="table table-striped table-hover">
    <thead class="thead-light">
        <tr>
            @if (User.Identity.IsAuthenticated)
            {
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@idSortParam">ItemId</a>
                </th>
            }
            <th>
                <a asp-action="Index" asp-route-sortOrder="@nameSortParam">Name</a>
            </th>
            <th>Recipe</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>@Html.DisplayFor(modelItem => item.ItemId)</td>
                }
                <td>
                    <a asp-action="Details" asp-route-id="@item.ItemId">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @if (item.Recipes == null || !item.Recipes.Any())
                    {
                        <span>Base Item</span>
                    }
                    else
                    {
                        
                        @foreach (var recipe in item.Recipes)
                        {
                            if (item.Recipes.Count > 1)
                            {
                                <span>Recipe @recipe.RecipeId</span>
                            }
                            <ul>
                                @foreach(var recipeItem in recipe.Ingredients)
                                {
                                    <li>@recipeItem.Item.Name - Quantity: @recipeItem.Quantity</li>
                                }
                            </ul>
                        }
                        
                    }
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ItemId" class="btn btn-sm btn-warning">Edit</a>
                        <form asp-action="Delete" asp-route-id="@item.ItemId" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?');">Delete</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>